@model IEnumerable<CommuneLetters.Models.Client>

@{
    ViewData["Title"] = "CIndex";
}

<h1>CIndex</h1>

<p>
    <a asp-action="AddClient">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Essay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Essay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Name }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Name }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Name }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
